@page
@model LanguageApp.Pages.MarkModel
@{
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">TeacherDashboard</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/TeacherDashboard">TeacherDashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Courses">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Questions">Questions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Mark">Mark</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="accordion accordion-flush" id="accordionFlushExample">
    @foreach (var question in Model.QuestionList)
    {
        <div class="accordion-item">
            <h2 class="accordion-header" id="@("heading" + question.QuestionID)">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="@("#collapse" + question.QuestionID)" aria-expanded="false" aria-controls="@("collapse" + question.QuestionID)">
                    @question.QuestionText
                </button>
            </h2>
            <div id="@("collapse" + question.QuestionID)" class="accordion-collapse collapse" aria-labelledby="@("heading" + question.QuestionID)" data-bs-parent="#accordionFlushExample">

                <br />

                <br />

                <form method="post" class="post">
                    <h2>Answer the Question</h2>
                    <input type="hidden" name="QuestionID" value="@question.QuestionID" />
                    <input class="form-control form-control-sm" type="text" placeholder="Answer Question" aria-label=".form-control-sm example" name="AnswerText" required>
                    <br />
                    <div class="form-group submit-btn">
                        <input type="submit" value="Post Answer">
                    </div>
                </form>

                <h3>Answers:</h3>
                <ul>
                    @foreach (var answer in Model.AnswersList.Where(a => a.QuestionID == question.QuestionID))
                    {
                        <li>@answer.UserProvidedAnswer</li>
                    }
                </ul>
            </div>
        </div>
    }

</div>